<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>EBGaramond-Regular.ttf</string>
        <string>EBGaramond-Bold.ttf</string>
        <string>EBGaramond-BoldItalic.ttf</string>
        <string>EBGaramond-ExtraBold.ttf</string>
        <string>EBGaramond-ExtraBoldItalic.ttf</string>
        <string>EBGaramond-Italic.ttf</string>
        <string>EBGaramond-Medium.ttf</string>
        <string>EBGaramond-MediumItalic.ttf</string>
        <string>EBGaramond-SemiBold.ttf</string>
        <string>EBGaramond-SemiBoldItalic.ttf</string>
    </array>
    <key>NSUserActivityTypes</key>
    <array>
        <string>com.yourapp.deviceactivity.daily</string>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict/>
    </dict>
    <key>FamilyControls</key>
    <dict>
        <key>DeviceActivityMonitorExtension</key>
        <string>com.yourapp.deviceactivity.monitor</string>
    </dict>
    <key>NSUserNotificationCenterDelegate</key>
    <string>$(PRODUCT_MODULE_NAME).NotificationDelegate</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
        <string>background-app-refresh</string>
        <string>background-processing</string>
    </array>
    <key>NSContactsUsageDescription</key>
    <string>We need access to your contacts to help you find friends who are already using Tally and to invite new friends to join.</string>
    <key>NSCameraUsageDescription</key>
    <string>Camera access is required to take photos for your profile picture and to capture verification images when completing habit challenges.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to select profile photos and verification images.</string>
    <key>branch_universal_link_domains</key>
    <array>
        <string>jointally.app.link</string>
        <string>jointally-alternate.app.link</string>
        <string>n0kww.test-app.link</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>tally</string>
            </array>
            <key>CFBundleURLName</key>
            <string>tally.test</string>
        </dict>
    </array>
    <key>branch_key</key>
    <string>key_live_bqscfn76qct95q1to7St2plcArgNpoEZ</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>Tally</string>
</dict>
</plist> 